* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
}

.pixel {
    border: 1px solid #000;
    padding: 12px;
    transition: 2s ease;
}
