* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50rem;
    text-decoration: none;
    border: none;
    color: white;
}

.reset {
    height: 10hv;
    width: 15vh;
    background-color: aqua;
    border-radius: 10%;
}

.blackBrush {
    height: 10hv;
    width: 15hv;
    background-color: aqua;
    border-radius: 10%;
}

.multicoloredBrush {
    height: 10hv;
    width: 15hv;
    background-color: aqua;
    border-radius: 10%;
}

.container {
    display: grid;
}

.pixel {
    border: 1px solid #000;
    padding: 12px;
    transition: 2s ease;
}
